body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,28,121,1) 39%, rgba(0,212,255,1) 100%);


  }
   
h1{
    text-align: center;
    color: snow;
}
h6,h3,label{
    color:snow;
}