body { 
    padding-top:20px; 
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,28,121,1) 39%, rgba(0,212,255,1) 100%);
}

.container2{
    display:none;
}
table,th,td{
    padding:20px;
    color:white;
    width: 100%;
}

tr{
    border: dashed beige 1px;
}

button{
    box-shadow:none;
    border-radius:7px; 
}

.panel-body .btn:not(.btn-block) 
{ 
    width:250px;margin-bottom:40px; 
    }
    h2{
        background-color: white;
    }
    

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    body{
         width:80%; 
     }
 }
 @media screen and (max-width:800px) {
  body{
       width:100%; 
   }
 }
